.container {
  color: hsl(245, 27%, 9%);
  margin: auto;
  margin-top: 10rem;
  padding: 1rem 2rem;
  width: 60%;
  font-family: 'Source Serif 4', serif;
  font-style: italic;
  font-weight: 300;
}

.container a {
  color: hsl(245, 27%, 9%);
  font-weight: 400;
  text-decoration: none;
}

.container a:hover {
  color: hsl(17, 93%, 39%);
  font-weight: 600;
}