.devContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin: 8rem 5rem 0;
}

.cardContainer{
  margin: 1.5rem;
}

.cardImg{
  height: 20rem;
  width: auto;
}
