.devContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin: 6rem 6rem 0;
}

.detailContainer {
  display: grid;
  grid: 1fr / 1fr 1fr;
  margin: 6rem 6rem 0;
}

.cardContainer {
  margin: 1.5rem;
}

.cardImg {
  height: 20rem;
  width: auto;
}

.detailImgs {
  margin-left: 1rem;
  margin-right: .5rem;

}

.detailImgs img {
  margin-bottom: 1rem;
}

.detailInfo {
  position: fixed;
  left: 50%;
  margin-left: .5rem;
}