.nav a {
  color: hsl(245, 27%, 20%);
  text-decoration: none;
  font-family: 'Source Serif 4', serif;
  text-transform: uppercase;
  font-size: 25px;
  font-weight: 400;
  font-style: italic;
  padding: 0.15rem;
}

.nav a:hover {
  color: hsl(66, 64%, 41%);
  font-weight: 700;
}

.illustration {
  display: inline-block;
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
}

.illoContainer {
  position: absolute;
  bottom: 0;
  left: 50%;
  margin-bottom: 1rem;
  transform: translate(-50%, -50%);
}

.design {
  writing-mode: vertical-lr;
  text-align: right;
  position: absolute;
  bottom: 40%;
  right: 0;
  margin-right: 1rem;
}

.aboutContainer {
  display: flex;
  flex-direction: column-reverse;
  position: absolute;
  left: 0;
  bottom: 40%;
  margin-left: 1rem;
}

.about {
  margin-top: 0.25rem;
}

.about,
.contact {
  writing-mode: vertical-lr;
  -moz-transform: rotate(-180deg); /* Firefox */
  -webkit-transform: rotate(-180deg); /* Webkit */
  -ms-transform: rotate(-180deg); /* IE */
  -o-transform: rotate(-180deg); /* Opera */
  transform: rotate(-180deg);
}

.dev {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, -50%);
  margin-top: 2rem;
}

.active {
  background-color: hsl(338, 100%, 76%);
}
