.nav a, p {
  color: hsl(245, 27%, 20%);
  text-decoration: none;
  font-family: 'Source Serif 4', serif;
  text-transform: uppercase;
  font-size: 25px;
  font-weight: 500;
  font-style: italic;
}


.nav a:hover {
  color: hsl(16, 90%, 57%);
  font-weight: 700;
}

.art {
  display: inline-block;
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
  padding: 0.15rem .8rem;
}

.artContainer {
  position: fixed;
  bottom: 0;
  left: 50%;
  margin-bottom: 1rem;
  transform: translate(-50%, -50%);
}

.dev {
  writing-mode: vertical-lr;
  text-align: right;
  position: fixed;
  bottom: 40%;
  right: 0;
  margin-right: 1rem;
  padding: .8rem 0.15rem;
}

.aboutContainer {
  display: flex;
  flex-direction: column-reverse;
  position: fixed;
  left: 0;
  bottom: 40%;
  margin-left: 1rem;
}

.about {
  margin-top: 0.25rem;
  padding: .8rem 0.15rem;
}

.about,
.contact {
  writing-mode: vertical-lr;
  -moz-transform: rotate(-180deg); /* Firefox */
  -webkit-transform: rotate(-180deg); /* Webkit */
  -ms-transform: rotate(-180deg); /* IE */
  -o-transform: rotate(-180deg); /* Opera */
  transform: rotate(-180deg);
}

.name {
  position: fixed;
  top: 0;
  left: 50%;
  transform: translate(-50%, -50%);
  margin-top: 2rem;
  padding: 0.15rem .8rem;
}

.active {
  /* background-color: hsl(352, 100%, 92%); */
  color: hsl(236, 100%, 79%) !important;
  font-weight: 700 !important;
}
