.nav a {
  color: black;
  text-decoration: none;
  font-family: 'Source Serif 4', serif;
  text-transform: uppercase;
  font-size: 25px;
  font-weight: 400;
  font-style: italic;
  padding: .15rem;
}

.illustration {
  -moz-transform: rotate(-180deg); /* Firefox */
  -webkit-transform: rotate(-180deg); /* Webkit */
  -ms-transform: rotate(-180deg); /* IE */
  -o-transform: rotate(-180deg); /* Opera */
  transform: rotate(-180deg);
  position: absolute;
  bottom: 0;
  left: 40%;
}

.design {
  writing-mode: vertical-lr;
  text-align: right;
  position: absolute;
  bottom: 45%;
  right: 0;
}

.about {
  writing-mode: vertical-lr;
  -moz-transform: rotate(-180deg); /* Firefox */
  -webkit-transform: rotate(-180deg); /* Webkit */
  -ms-transform: rotate(-180deg); /* IE */
  -o-transform: rotate(-180deg); /* Opera */
  transform: rotate(-180deg);
  position: absolute;
  left: 0;
  bottom: 45%;
}

.contact {
  writing-mode: vertical-lr;
  -moz-transform: rotate(-180deg); /* Firefox */
  -webkit-transform: rotate(-180deg); /* Webkit */
  -ms-transform: rotate(-180deg); /* IE */
  -o-transform: rotate(-180deg); /* Opera */
  transform: rotate(-180deg);
  position: absolute;
  left: 0;
  bottom: 51%;
  margin-bottom: 1rem;
}

.dev{
    position: absolute;
    top: 0;
    left: 40%;
}

.active {
  background-color: hotpink;
}

